@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

/* @theme {
  --font-display: "Inter", sans-serif;

  --color-primary: "#151515";
  --color-secondaryBg: "#212121";
  --color-hoverBg: "#3B3B3B";
  --color-activeBg: "#424242";
  --color-textPrimary: "#F9F9F9";
  --color-textSecondary: "#AAAAAA";
} */
